# Ignore all folders when building the Docker image.
/**/build
/**/__pycache__
*.pyc
.*

!test_requirements.txt
!test_runner.sh
!/tools/ci
!test.sh
!TESTING.md
!/tools/**/*.py
!.pre-commit-config.yaml
