target/
*.pyc
.cache/

# dcos-docker artifacts
dcos-docker/
ignore/
genconf/
.vagrant/
*.box

# leftovers from running tools directly
tools/env/
tools/cluster-*.properties
tools/*.pem
tools/dcostests_env/
tools/shakedown_env/

# idea
*.i??
.idea/
out/
classes/
*.log

# eclipse
.classpath
.project
.settings/
bin/

# gradle
.gradle
build/

# gradle subprojects
sdk/core/build
sdk/executor/build
frameworks/*/build
frameworks/*/dcos-commons-tools/

# vim swap files
*.swp

# OS X
.DS_Store

# ignore shakedown_env
tools/*/shakedown_env
