target/
*.pyc
.cache/
.gopath/

# dcos-docker artifacts
dcos-docker/
ignore/
genconf/
.vagrant/
*.box

# leftovers from running tests/tools directly
tools/env/
tools/cluster-*.properties
tools/*.pem
tools/dcostests_env/
tools/shakedown_env/
tools/*/shakedown_env/
tools/cassandra
tools/hdfs
tools/kafka
tools/elastic
tools/helloworld
tools/template
/test_*.json
/logs/
*.log
*.pem

# idea
*.i??
.idea/
out/
classes/

# eclipse
.classpath
.project
.settings/
bin/

# vscode
.vscode

# gradle
.gradle
build/

# gradle subprojects
sdk/core/build
sdk/executor/build
frameworks/*/build
frameworks/*/dcos-commons-tools/
frameworks/*/*-universe-url*

# vim swap files
*.swp

# OS X
.DS_Store
