{
  "id": "{{service.name}}",
  "cpus": 1.0,
  "mem": 1024,
  "instances": 1,
  "cmd": "export LD_LIBRARY_PATH=$MESOS_SANDBOX/libmesos-bundle/lib:$LD_LIBRARY_PATH; export MESOS_NATIVE_JAVA_LIBRARY=$(ls $MESOS_SANDBOX/libmesos-bundle/lib/libmesos-*.so); export JAVA_HOME=$(ls -d $MESOS_SANDBOX/jre*/); export JAVA_HOME=${JAVA_HOME%/}; export PATH=$(ls -d $JAVA_HOME/bin):$PATH &&  export JAVA_OPTS=\"-Xms256M -Xmx512M\" &&  ./spark-standalone-scheduler/bin/spark ./spark-standalone-scheduler/svc.yml",
  "labels": {
    "DCOS_COMMONS_API_VERSION": "v1",
    "DCOS_PACKAGE_FRAMEWORK_NAME": "{{service.name}}",
    "MARATHON_SINGLE_INSTANCE_APP": "true"
  },
  "env": {
    "FRAMEWORK_NAME": "{{service.name}}",
    "SERVICE_PRINCIPAL": "{{service.principal}}",
    "SPARK_VERSION": "spark-2.1.0-bin-hadoop2.7",
    "DAEMON_CPUS": "{{spark.master.cpus}}",
    "DAEMON_MEM": "{{spark.master.mem}}",
    "SPARK_MASTER_PORT": "{{spark.master.port}}",
    "SPARK_MASTER_WEBUI_PORT": "{{spark.master.webui_port}}",
    "SPARK_MASTER_OPTS": "{{spark.master.opts}}",
    "SPARK_WORKER_PORT": "{{spark.worker.port}}",
    "SPARK_WORKER_WEBUI_PORT": "{{spark.worker.webui_port}}",
    "WORKER_COUNT": "{{spark.worker.count}}",
    "WORKER_CPUS": "{{spark.worker.cpus}}",
    "WORKER_MEM": "{{spark.worker.mem}}",
    "WORKER_DISK": "{{spark.worker.disk}}",
    "PROXYLITE_CPUS": "{{service.proxylite.cpus}}",
    "PROXYLITE_MEM": "{{service.proxylite.mem}}",
    "PROXYLITE_PORT": "{{service.proxylite.port}}",
    "JAVA_URI": "{{resource.assets.uris.jre-tar-gz}}",
    "EXECUTOR_URI": "{{resource.assets.uris.executor-zip}}",
    "LIBMESOS_URI": "{{resource.assets.uris.libmesos-bundle-tar-gz}}",
    "SPARK_URI": "{{resource.assets.uris.spark-tar-gz}}",
    "BOOTSTRAP_URI": "{{resource.assets.uris.bootstrap-zip}}",
    "CONFIG_TEMPLATE_PATH": "spark-standalone-scheduler"
  },
  "uris": [
    "{{resource.assets.uris.jre-tar-gz}}",
    "{{resource.assets.uris.scheduler-zip}}",
    "{{resource.assets.uris.libmesos-bundle-tar-gz}}"
  ],
  "upgradeStrategy":{
    "minimumHealthCapacity": 0,
    "maximumOverCapacity": 0
  },
  "healthChecks": [
    {
      "protocol": "HTTP",
      "path": "/v1/plans/deploy",
      "gracePeriodSeconds": 900,
      "intervalSeconds": 30,
      "portIndex": 0,
      "timeoutSeconds": 30,
      "maxConsecutiveFailures": 0
    },
    {
      "protocol": "HTTP",
      "path": "/v1/plans/recovery",
      "gracePeriodSeconds": 900,
      "intervalSeconds": 30,
      "portIndex": 0,
      "timeoutSeconds": 30,
      "maxConsecutiveFailures": 0
    }
  ],
  "portDefinitions": [
    {
      "port": 0,
      "protocol": "tcp",
      "name": "api",
      "labels": { "VIP_0": "/api.{{service.name}}:80" }
    }
  ]
}
