{
  "id": "{{service.name}}",
  "cpus": 0.5,
  "mem": 1024,
  "instances": 1,
  "cmd": "export PATH=$(ls -d $MESOS_SANDBOX/jre*/bin):$PATH && env && ./scheduler/bin/elastic ./scheduler/elastic_service.yml",
  "labels": {
    "DCOS_PACKAGE_FRAMEWORK_NAME": "{{service.name}}",
    "DCOS_MIGRATION_API_VERSION": "v1",
    "DCOS_MIGRATION_API_PATH": "/v1/plan",
    "MARATHON_SINGLE_INSTANCE_APP":"true"
  },
  "env": {
    "LD_LIBRARY_PATH": "/opt/mesosphere/lib",
    "SERVICE_NAME": "{{service.name}}",
    "FRAMEWORK_USER": "{{service.user}}",
    "PLAN_STRATEGY": "{{service.plan_strategy}}",
    "MASTER_NODE_CPUS": "{{master_nodes.cpus}}",
    "MASTER_NODE_MEM": "{{master_nodes.mem}}",
    "MASTER_NODE_HEAP_MB": "{{master_nodes.heap.size}}",
    "MASTER_NODE_DISK": "{{master_nodes.disk}}",
    "MASTER_NODE_DISK_TYPE": "{{master_nodes.disk_type}}",
    "MASTER_NODE_HTTP_PORT": "{{master_nodes.http_port}}",
    "MASTER_NODE_TRANSPORT_PORT": "{{master_nodes.transport_port}}",
    "DATA_NODE_COUNT": "{{data_nodes.count}}",
    "DATA_NODE_CPUS": "{{data_nodes.cpus}}",
    "DATA_NODE_MEM": "{{data_nodes.mem}}",
    "DATA_NODE_HEAP_MB": "{{data_nodes.heap.size}}",
    "DATA_NODE_DISK": "{{data_nodes.disk}}",
    "DATA_NODE_DISK_TYPE": "{{data_nodes.disk_type}}",
    "DATA_NODE_HTTP_PORT": "{{data_nodes.http_port}}",
    "DATA_NODE_TRANSPORT_PORT": "{{data_nodes.transport_port}}",
    "INGEST_NODE_COUNT": "{{ingest_nodes.count}}",
    "INGEST_NODE_CPUS": "{{ingest_nodes.cpus}}",
    "INGEST_NODE_MEM": "{{ingest_nodes.mem}}",
    "INGEST_NODE_HEAP_MB": "{{ingest_nodes.heap.size}}",
    "INGEST_NODE_DISK": "{{ingest_nodes.disk}}",
    "INGEST_NODE_DISK_TYPE": "{{ingest_nodes.disk_type}}",
    "INGEST_NODE_HTTP_PORT": "{{ingest_nodes.http_port}}",
    "INGEST_NODE_TRANSPORT_PORT": "{{ingest_nodes.transport_port}}",
    "COORDINATOR_NODE_COUNT": "{{coordinator_nodes.count}}",
    "COORDINATOR_NODE_CPUS": "{{coordinator_nodes.cpus}}",
    "COORDINATOR_NODE_MEM": "{{coordinator_nodes.mem}}",
    "COORDINATOR_NODE_HEAP_MB": "{{coordinator_nodes.heap.size}}",
    "COORDINATOR_NODE_DISK": "{{coordinator_nodes.disk}}",
    "COORDINATOR_NODE_DISK_TYPE": "{{coordinator_nodes.disk_type}}",
    "COORDINATOR_NODE_HTTP_PORT": "{{coordinator_nodes.http_port}}",
    "COORDINATOR_NODE_TRANSPORT_PORT": "{{coordinator_nodes.transport_port}}",
    "KIBANA_COUNT": "{{kibana.count}}",
    "KIBANA_CPUS": "{{kibana.cpus}}",
    "KIBANA_MEM": "{{kibana.mem}}",
    "KIBANA_DISK": "{{kibana.disk}}",
    "KIBANA_DISK_TYPE": "{{kibana.disk_type}}",
    "KIBANA_PORT": "{{kibana.port}}",
    "KIBANA_PASSWORD": "{{kibana.password}}",
    "ELASTIC_VERSION": "5.0.0-beta1",
    "ELASTICSEARCH_PLUGINS": "{{elasticsearch.plugins}}",
    "EXECUTOR_URI": "{{resource.assets.uris.executor-zip}}",
    "SCHEDULER_URI": "{{resource.assets.uris.scheduler-zip}}"
  },
  "uris": [
    "{{resource.assets.uris.jre-tar-gz}}",
    "{{resource.assets.uris.scheduler-zip}}"
  ],
  "upgradeStrategy":{
    "minimumHealthCapacity": 0,
    "maximumOverCapacity": 0
  },
  "portDefinitions": [
    {
      "port": 0,
      "protocol": "tcp",
      "name": "api",
      "labels": {}
    }
  ]
}
