{
  "id": "{{service.name}}",
  "cpus": 1.0,
  "mem": 1230,
  "instances": 1,
  "cmd": "export LD_LIBRARY_PATH=$MESOS_SANDBOX/libmesos-bundle/lib && export MESOS_NATIVE_JAVA_LIBRARY=$(ls $MESOS_SANDBOX/libmesos-bundle/lib/libmesos-*.so) && export PATH=$(ls -d $MESOS_SANDBOX/jre*/bin):$PATH && ./proxylite-scheduler/bin/proxylite ./proxylite-scheduler/{{service.spec_file}}",
  "labels": {
    "DCOS_PACKAGE_FRAMEWORK_NAME": "{{service.name}}",
    "DCOS_MIGRATION_API_VERSION": "v1",
    "DCOS_MIGRATION_API_PATH": "/v1/plan",
    "MARATHON_SINGLE_INSTANCE_APP":"true"
  },
  "env": {
    "CONFIG_TEMPLATE_PATH": "proxylite-scheduler",
    "FRAMEWORK_NAME": "{{service.name}}",
    "PROXYLITE_COUNT": "0",
    "PROXYLITE_CPUS": "{{proxylite.cpus}}",
    "PROXYLITE_MEM": "{{proxylite.mem}}",
    "BACKENDS": "{{proxylite.backends}}",
    "EXECUTOR_URI": "{{resource.assets.uris.executor-zip}}",
    "LIBMESOS_URI": "{{resource.assets.uris.libmesos-bundle-tar-gz}}"
  },
  "uris": [
    "{{resource.assets.uris.jre-tar-gz}}",
    "{{resource.assets.uris.scheduler-zip}}",
    "{{resource.assets.uris.libmesos-bundle-tar-gz}}"
  ],
  "upgradeStrategy":{
    "minimumHealthCapacity": 0,
    "maximumOverCapacity": 0
  },
  "portDefinitions": [
    {
      "port": 0,
      "protocol": "tcp",
      "name": "api",
      "labels": {}
    }
  ]
}
