{
  "id": "{{service.name}}",
  "cpus": {{kibana.cpus}},
  "mem": {{kibana.mem}},
  "instances": 1,
  "user": "{{service.user}}",
  "container": {
    "type": "MESOS",
    "docker": {
      "image": "{{resource.assets.container.docker.nginx}}"
    }
  },
  "cmd": "./init.sh",
  "labels": {
    "DCOS_SERVICE_NAME": "{{service.name}}",
    "DCOS_SERVICE_PORT_INDEX": "1",
    "DCOS_SERVICE_SCHEME": "http",
    "DCOS_SERVICE_REWRITE_REQUEST_URLS": "false",
    "MARATHON_SINGLE_INSTANCE_APP": "true",
    "DCOS_PACKAGE_FRAMEWORK_NAME": "{{service.name}}"
  },
  "env": {
    "ELASTIC_VERSION": "{{elastic-version}}",
    "FRAMEWORK_NAME": "{{service.name}}",
    "FRAMEWORK_USER": "{{service.user}}",
    "ELASTICSEARCH_URL": "{{kibana.elasticsearch_url}}",
    {{#kibana.elasticsearch_tls}}
    "KIBANA_ELASTICSEARCH_TLS": "{{kibana.elasticsearch_tls}}",
    {{/kibana.elasticsearch_tls}}
    "KIBANA_USER": "{{kibana.user}}",
    "KIBANA_PASSWORD": "{{kibana.password}}"
  },
  "fetch": [
    {
      "uri": "{{resource.assets.uris.kibana-tar-gz}}",
      "cache": true
    },
    {
      "uri": "{{artifact-dir}}/nginx.conf.tmpl",
      "cache": true
    },
    {
      "uri": "{{artifact-dir}}/init.sh",
      "cache": true,
      "executable": true
    }
  ],
  "upgradeStrategy":{
    "minimumHealthCapacity": 0,
    "maximumOverCapacity": 0
  },
  "portDefinitions": [
    {
      "port": 0,
      "protocol": "tcp",
      "name": "kibana",
      "labels": { "VIP_0": "/web.{{service.name}}:80" }
    },
    {
      "name": "proxy",
      "port": 0,
      "protocol": "tcp"
    }
  ],
  "healthChecks": [
    {
      "protocol": "MESOS_HTTP",
      "path": "/service/{{service.name}}/",
      "gracePeriodSeconds": 900,
      "intervalSeconds": 30,
      "portIndex": 0,
      "timeoutSeconds": 30,
      "maxConsecutiveFailures": 0
    }
  ]
}
