{
  "id": "hdfs",
  "cmd": "export PATH=$(ls -d $MESOS_SANDBOX/jre*/bin):$PATH && env &&./scheduler/bin/hdfs",
  "user": "{{service.user}}",
  "instances": 1,
  "cpus": {{service.cpus}},
  "mem": {{service.mem}},
  "requirePorts": true,
  "portDefinitions": [
    {
      "port": {{service.api_port}},
      "protocol": "tcp",
      "name": "api",
      "labels": {}
    }
  ],
"uris": [
  "{{resource.assets.uris.scheduler-zip}}",
  "{{resource.assets.uris.jre-tar-gz}}",
  "{{resource.assets.uris.hdfs-site-config}}",
  "{{resource.assets.uris.core-site-config}}"
],
"readinessChecks": [
    {
      "name": "hdfsUpdateProgress",
      "protocol": "HTTP",
      "path": "/v1/plan",
      "portName": "api",
      "interval": 10000,
      "timeout": 10000,
      "httpStatusCodesForReady": [200],
      "preserveLastResponse": true
    }
],
"labels": {
  "DCOS_PACKAGE_FRAMEWORK_NAME": "{{service.name}}",
  "DCOS_MIGRATION_API_VERSION": "v1",
  "DCOS_MIGRATION_API_PATH": "/v1/plan",
  "MARATHON_SINGLE_INSTANCE_APP":"true",
  "DCOS_SERVICE_NAME": "{{service.name}}",
  "DCOS_SERVICE_PORT_INDEX": "0",
  "DCOS_SERVICE_SCHEME": "http"
},
"upgradeStrategy":{
  "minimumHealthCapacity": 0,
  "maximumOverCapacity": 0
},
{{#service.secret_name}}
"secrets": {
  "serviceCredential": {
    "source": "{{service.secret_name}}"
  }
},
{{/service.secret_name}}
   "env":{
        {{#service.secret_name}}
        "DCOS_SERVICE_ACCOUNT_CREDENTIAL": { "secret": "serviceCredential" },
        "MESOS_MODULES": "file:///opt/mesosphere/etc/mesos-scheduler-modules/dcos_authenticatee_module.json",
        "MESOS_AUTHENTICATEE": "com_mesosphere_dcos_ClassicRPCAuthenticatee",
        {{/service.secret_name}}
       "JAVA_OPTS":"-Xmx{{service.heap}}M"
       ,"EXECUTOR_URI":"{{resource.assets.uris.executor-zip}}"
       ,"SERVICE_NAME":"{{service.name}}"
       ,"SERVICE_ROLE":"{{service.role}}"
       ,"SERVICE_PRINCIPAL":"{{service.principal}}"
       ,"SERVICE_USER":"{{service.user}}"
       {{#service.secure_mode}}
       ,"SECURE_MODE":"{{service.secure_mode}}"
       ,"KEYTABS_URI":"{{service.keytabs_uri}}"
       ,"TASKCFG_ALL_SECURE_MODE": "{{service.secure_mode}}"
       {{/service.secure_mode}}
       ,"TASK_JRE_URI":"{{service.task_jre_uri}}"
       ,"NAME_NODE_CPUS":"{{name_node.cpus}}"
       ,"NAME_NODE_MEMORY_MB":"{{name_node.mem}}"
       ,"NAME_NODE_HEAP_MB":"{{name_node.heap}}"
       ,"NAME_NODE_DISK_MB":"{{name_node.disk}}"
       ,"NAME_NODE_DISK_TYPE":"{{name_node.disk_type}}"
       ,"NAME_NODE_COUNT":"{{name_node.count}}"
       ,"JOURNAL_NODE_CPUS":"{{journal_node.cpus}}"
       ,"JOURNAL_NODE_MEMORY_MB":"{{journal_node.mem}}"
       ,"JOURNAL_NODE_HEAP_MB":"{{journal_node.heap}}"
       ,"JOURNAL_NODE_DISK_MB":"{{journal_node.disk}}"
       ,"JOURNAL_NODE_DISK_TYPE":"{{journal_node.disk_type}}"
       ,"JOURNAL_NODE_COUNT":"{{journal_node.count}}"
       ,"DATA_NODE_CPUS":"{{data_node.cpus}}"
       ,"DATA_NODE_MEMORY_MB":"{{data_node.mem}}"
       ,"DATA_NODE_HEAP_MB":"{{data_node.heap}}"
       ,"DATA_NODE_DISK_MB":"{{data_node.disk}}"
       ,"DATA_NODE_DISK_TYPE":"{{data_node.disk_type}}"
       ,"DATA_NODE_COUNT":"{{data_node.count}}"
       ,"ZKFC_PROCESS_COUNT":"{{zkfc_process.count}}"
       ,"ZKFC_PROCESS_CPUS":"{{zkfc_process.cpus}}"
       ,"ZKFC_PROCESS_MEMORY_MB":"{{zkfc_process.mem}}"
       ,"ZKFC_PROCESS_DISK_MB":"{{zkfc_process.disk}}"
       ,"TASKCFG_ALL_JAVA_HOME":"./jre1.8.0_91"
       ,"TASKCFG_ALL_EXECUTOR_COMMAND":"./executor/bin/hdfs-executor executor/conf/executor.yml"
       ,"TASKCFG_ALL_EXECUTOR_CPUS":"{{executor.cpus}}"
       ,"TASKCFG_ALL_EXECUTOR_MEMORY_MB":"{{executor.mem}}"
       ,"TASKCFG_ALL_EXECUTOR_DISK_MB":"{{executor.disk}}"
       ,"TASKCFG_ALL_EXECUTOR_HEAP_MB":"{{executor.heap}}"
       ,"TASKCFG_ALL_EXECUTOR_JAVA_HOME":"./jre1.8.0_91"
       ,"TASKCFG_ALL_EXECUTOR_HDFS_HOME":"./hadoop-2.6.0-cdh5.7.1"
       ,"TASKCFG_ALL_EXECUTOR_JRE_LOCATION":"{{resource.assets.uris.jre-tar-gz}}"
       ,"TASKCFG_ALL_EXECUTOR_LOCATION":"{{resource.assets.uris.executor-zip}}"
       ,"TASKCFG_ALL_EXECUTOR_HDFS_LOCATION":"{{resource.assets.uris.hadoop-tar-gz}}"
       ,"TASKCFG_ALL_EXECUTOR_HDFS_VERSION":"2.5.0"
       ,"TASKCFG_ALL_NAME_NODE_RPC_PORT":"{{hdfs.name_node_rpc_port}}"
       ,"TASKCFG_ALL_NAME_NODE_HTTP_PORT":"{{hdfs.name_node_http_port}}"
       ,"TASKCFG_ALL_JOURNAL_NODE_RPC_PORT":"{{hdfs.journal_node_rpc_port}}"
       ,"TASKCFG_ALL_JOURNAL_NODE_HTTP_PORT":"{{hdfs.journal_node_http_port}}"
       ,"TASKCFG_ALL_DATA_NODE_RPC_PORT":"{{hdfs.data_node_rpc_port}}"
       ,"TASKCFG_ALL_DATA_NODE_HTTP_PORT":"{{hdfs.data_node_http_port}}"
       ,"TASKCFG_ALL_DATA_NODE_IPC_PORT":"{{hdfs.data_node_ipc_port}}"
       ,"TASKCFG_ALL_DATA_NODE_BALANCE_BANDWIDTH_PER_SEC":"41943040"
       ,"TASKCFG_ALL_NAME_NODE_SAFEMODE_THRESHOLD_PCT":"0.9"
       ,"TASKCFG_ALL_DATA_NODE_HANDLER_COUNT":"10"
       ,"TASKCFG_ALL_NAME_NODE_HANDLER_COUNT":"20"
       ,"TASKCFG_ALL_PERMISSIONS_ENABLED":"{{hdfs.permissions_enabled}}"
       ,"TASKCFG_ALL_NAME_NODE_HEARTBEAT_RECHECK_INTERVAL":"{{hdfs.name_node_heartbeat_recheck_interval}}"
       ,"TASKCFG_ALL_IMAGE_COMPRESS":"{{hdfs.compress_image}}"
       ,"TASKCFG_ALL_IMAGE_COMPRESSION_CODEC":"{{hdfs.image_compression_codec}}"
       ,"TASKCFG_ALL_NAME_NODE_INVALIDATE_WORK_PCT_PER_ITERATION":"0.95"
       ,"TASKCFG_ALL_NAME_NODE_REPLICATION_WORK_MULTIPLIER_PER_ITERATION":"4"
       ,"TASKCFG_ALL_CLIENT_READ_SHORTCIRCUIT":"true"
       ,"TASKCFG_ALL_CLIENT_READ_SHORTCIRCUIT_PATH":"/var/lib/hadoop-hdfs/dn_socket"
       ,"TASKCFG_ALL_CLIENT_READ_SHORTCIRCUIT_STREAMS_CACHE_SIZE":"1000"
       ,"TASKCFG_ALL_CLIENT_READ_SHORTCIRCUIT_STREAMS_CACHE_SIZE_EXPIRY_MS":"1000"
       ,"TASKCFG_ALL_NAME_NODE_DATA_NODE_REGISTRATION_IP_HOSTNAME_CHECK": "false"
       ,"TASKCFG_ALL_HA_FENCING_METHODS": "shell(/bin/true)"
       ,"TASKCFG_ALL_HA_AUTOMATIC_FAILURE": "true"
       ,"TASKCFG_ALL_CLIENT_FAILOVER_PROXY_PROVIDER_HDFS": "org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider"
       ,"TASKCFG_ALL_PLACEMENT_STRATEGY":"{{service.placement_strategy}}"
       ,"TASKCFG_ALL_HADOOP_PROXYUSER_HUE_HOSTS": "*"
       ,"TASKCFG_ALL_HADOOP_PROXYUSER_HUE_GROUPS": "*"
       ,"TASKCFG_ALL_HADOOP_PROXYUSER_ROOT_HOSTS": "*"
       ,"TASKCFG_ALL_HADOOP_PROXYUSER_ROOT_GROUPS": "*"
       ,"TASKCFG_ALL_HADOOP_PROXYUSER_HTTPFS_GROUPS": "*"
       ,"TASKCFG_ALL_HADOOP_PROXYUSER_HTTPFS_HOSTS": "*"
       ,"TASKCFG_ALL_HADOOP_OPTS": "{{hdfs.hadoop_opts}}"
       ,"TASKCFG_ALL_HADOOP_ROOT_LOGGER": "{{hdfs.hadoop_root_logger}}"
       ,"TASKCFG_ALL_TASK_USER": "{{service.user}}"
       ,"API_PORT":"{{service.api_port}}"
    }
}
