{
  "id": "{{service.name}}",
  "cpus": 1.0,
  "mem": 1024,
  "instances": 1,
  "user": "{{service.user}}",
  "cmd": "export LD_LIBRARY_PATH=$MESOS_SANDBOX/libmesos-bundle/lib:$LD_LIBRARY_PATH; export MESOS_NATIVE_JAVA_LIBRARY=$(ls $MESOS_SANDBOX/libmesos-bundle/lib/libmesos-*.so); export JAVA_HOME=$(ls -d $MESOS_SANDBOX/jre*/); export JAVA_HOME=${JAVA_HOME%/}; export PATH=$(ls -d $JAVA_HOME/bin):$PATH && export JAVA_OPTS=\"-Xms256M -Xmx512M -XX:-HeapDumpOnOutOfMemoryError\" && ./hdfs-scheduler/bin/hdfs ./hdfs-scheduler/svc.yml",
  "labels": {
    "DCOS_COMMONS_API_VERSION": "v1",
    "DCOS_COMMONS_UNINSTALL": "true",
    "DCOS_PACKAGE_FRAMEWORK_NAME": "{{service.name}}",
    "MARATHON_SINGLE_INSTANCE_APP": "true",
    "DCOS_SERVICE_NAME": "{{service.name}}",
    "DCOS_SERVICE_PORT_INDEX": "0",
    "DCOS_SERVICE_SCHEME": "http"
  },
  {{#service.service_account_secret}}
  "secrets": {
    "serviceCredential": {
      "source": "{{service.service_account_secret}}"
    }
  },
  {{/service.service_account_secret}}
  "env": {
    "PACKAGE_NAME": "{{package-name}}",
    "PACKAGE_VERSION": "{{package-version}}",
    "PACKAGE_BUILD_TIME_EPOCH_MS": "{{package-build-time-epoch-ms}}",
    "PACKAGE_BUILD_TIME_STR": "{{package-build-time-str}}",
    "FRAMEWORK_NAME": "{{service.name}}",
    "FRAMEWORK_LOG_LEVEL": "{{service.log_level}}",
    "HDFS_VERSION": "hadoop-2.6.0-cdh5.11.0",
    "JRE_VERSION": "jre1.8.0_131",
    "TASKCFG_ALL_JRE_VERSION": "jre1.8.0_131",
    "DEPLOY_STRATEGY": "{{service.deploy_strategy}}",
    "UPDATE_STRATEGY": "{{service.update_strategy}}",
    "SERVICE_PRINCIPAL": "{{service.service_account}}",
    "JOURNAL_CPUS": "{{journal_node.cpus}}",
    "JOURNAL_MEM": "{{journal_node.mem}}",
    "JOURNAL_DISK": "{{journal_node.disk}}",
    "JOURNAL_DISK_TYPE": "{{journal_node.disk_type}}",
    "JOURNAL_LAGGING_TX_COUNT": "{{journal_node.lagging_tx_count}}",
    "NAME_CPUS": "{{name_node.cpus}}",
    "NAME_MEM": "{{name_node.mem}}",
    "NAME_DISK": "{{name_node.disk}}",
    "NAME_DISK_TYPE": "{{name_node.disk_type}}",
    "ZKFC_CPUS": "{{zkfc_node.cpus}}",
    "ZKFC_MEM": "{{zkfc_node.mem}}",
    "DATA_COUNT": "{{data_node.count}}",
    "DATA_CPUS": "{{data_node.cpus}}",
    "DATA_MEM": "{{data_node.mem}}",
    "DATA_DISK": "{{data_node.disk}}",
    "DATA_DISK_TYPE": "{{data_node.disk_type}}",
    "EXECUTOR_URI": "{{resource.assets.uris.executor-zip}}",
    "LIBMESOS_URI": "{{resource.assets.uris.libmesos-bundle-tar-gz}}",
    "HDFS_URI": "{{resource.assets.uris.hdfs-tar-gz}}",
    "HDFS_BIN_URI": "{{resource.assets.uris.hdfs-bin-tar-gz}}",
    "HDFS_JAVA_URI": "{{resource.assets.uris.hdfs-jre-tar-gz}}",
    "BOOTSTRAP_URI": "{{resource.assets.uris.bootstrap-zip}}",
    "JAVA_URI": "{{resource.assets.uris.jre-tar-gz}}",

    {{#service.virtual_network_enabled}}
    "ENABLE_VIRTUAL_NETWORK": "yes",
    "VIRTUAL_NETWORK_NAME": "{{service.virtual_network_name}}",
    "VIRTUAL_NETWORK_PLUGIN_LABELS": "{{service.virtual_network_plugin_labels}}",
    {{/service.virtual_network_enabled}}

    {{#service.service_account_secret}}
    "DCOS_SERVICE_ACCOUNT_CREDENTIAL": { "secret": "serviceCredential" },
    "MESOS_MODULES": "{\"libraries\": [{\"file\": \"libdcos_security.so\", \"modules\": [{\"name\": \"com_mesosphere_dcos_ClassicRPCAuthenticatee\"}]}]}",
    "MESOS_AUTHENTICATEE": "com_mesosphere_dcos_ClassicRPCAuthenticatee",
    {{/service.service_account_secret}}

    {{#service.tls.enabled}}
    "TLS_ENABLED": "{{service.tls.enabled}}",
    "TASKCFG_ALL_TLS_ENABLED": "{{service.tls.enabled}}",
    {{/service.tls.enabled}}

    {{#journal_node.enable_readiness_check}}
    "JOURNAL_READINESS_CHECK_ENABLED": "{{journal_node.enable_readiness_check}}",
    "TASKCFG_ALL_JOURNAL_READINESS_CHECK_ENABLED": "{{journal_node.enable_readiness_check}}",
    {{/journal_node.enable_readiness_check}}


    {{#service.kerberos.enabled}}
    "KEYTABS_URI": "{{service.kerberos.keytabs_uri}}",
    "KRB5_CONF_URI": "{{service.kerberos.krb5_conf_uri}}",
    "TASKCFG_ALL_SECURE_MODE": "{{service.kerberos.enabled}}",
    "TASKCFG_ALL_KERBEROS_PRIMARY": "{{service.kerberos.primary}}",
    "TASKCFG_ALL_KERBEROS_PRIMARY_HTTP": "{{service.kerberos.primary_http}}",
    "TASKCFG_ALL_KERBEROS_REALM": "{{service.kerberos.realm}}",
    {{/service.kerberos.enabled}}
    "TASKCFG_ALL_HADOOP_HDFS_CONFIGURATION_VERSION": "{{hdfs.hadoop_hdfs_configuration_version}}",
    "TASKCFG_ALL_ADMINISTRATORS": "{{hdfs.administrators}}",
    "TASKCFG_ALL_NAME_NODE_RPC_PORT":"{{hdfs.name_node_rpc_port}}",
    "TASKCFG_ALL_NAME_NODE_HTTP_PORT":"{{hdfs.name_node_http_port}}",
    "TASKCFG_ALL_ZKFC_PORT": "{{hdfs.zkfc_port}}",
    "TASKCFG_ALL_JOURNAL_NODE_RPC_PORT":"{{hdfs.journal_node_rpc_port}}",
    "TASKCFG_ALL_JOURNAL_NODE_HTTP_PORT":"{{hdfs.journal_node_http_port}}",
    "TASKCFG_ALL_DATA_NODE_RPC_PORT":"{{hdfs.data_node_rpc_port}}",
    "TASKCFG_ALL_DATA_NODE_HTTP_PORT":"{{hdfs.data_node_http_port}}",
    "TASKCFG_ALL_DATA_NODE_IPC_PORT":"{{hdfs.data_node_ipc_port}}",
    "TASKCFG_ALL_DATA_NODE_BALANCE_BANDWIDTH_PER_SEC":"41943040",
    "TASKCFG_ALL_NAME_NODE_SAFEMODE_THRESHOLD_PCT":"0.9",
    "TASKCFG_ALL_DATA_NODE_HANDLER_COUNT":"{{data_node.handler_count}}",
    "TASKCFG_ALL_NAME_NODE_HANDLER_COUNT":"20",
    "TASKCFG_ALL_PERMISSIONS_ENABLED":"{{hdfs.permissions_enabled}}",
    "TASKCFG_ALL_NAME_NODE_HEARTBEAT_RECHECK_INTERVAL":"{{hdfs.name_node_heartbeat_recheck_interval}}",
    "TASKCFG_ALL_IMAGE_COMPRESS":"{{hdfs.compress_image}}",
    "TASKCFG_ALL_IMAGE_COMPRESSION_CODEC":"{{hdfs.image_compression_codec}}",
    "TASKCFG_ALL_NAME_NODE_INVALIDATE_WORK_PCT_PER_ITERATION":"0.95",
    "TASKCFG_ALL_NAME_NODE_REPLICATION_MIN":"3",
    "TASKCFG_ALL_NAME_NODE_REPLICATION_WORK_MULTIPLIER_PER_ITERATION":"4",
    "TASKCFG_ALL_CLIENT_READ_SHORTCIRCUIT":"true",
    "TASKCFG_ALL_CLIENT_READ_SHORTCIRCUIT_PATH":"dn_socket",
    "TASKCFG_ALL_CLIENT_READ_SHORTCIRCUIT_STREAMS_CACHE_SIZE":"1000",
    "TASKCFG_ALL_CLIENT_READ_SHORTCIRCUIT_STREAMS_CACHE_SIZE_EXPIRY_MS":"1000",
    "TASKCFG_ALL_NAME_NODE_DATA_NODE_REGISTRATION_IP_HOSTNAME_CHECK": "false",
    "TASKCFG_ALL_HA_FENCING_METHODS": "shell(/bin/true)",
    "TASKCFG_ALL_HA_AUTOMATIC_FAILURE": "true",
    "TASKCFG_ALL_CLIENT_FAILOVER_PROXY_PROVIDER_HDFS": "org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider",
    "TASKCFG_ALL_HADOOP_PROXYUSER_HUE_HOSTS": "*",
    "TASKCFG_ALL_HADOOP_PROXYUSER_HUE_GROUPS": "*",
    "TASKCFG_ALL_HADOOP_PROXYUSER_ROOT_HOSTS": "*",
    "TASKCFG_ALL_HADOOP_PROXYUSER_ROOT_GROUPS": "*",
    "TASKCFG_ALL_HADOOP_PROXYUSER_HTTPFS_GROUPS": "*",
    "TASKCFG_ALL_HADOOP_PROXYUSER_HTTPFS_HOSTS": "*",
    "TASKCFG_ALL_HADOOP_ROOT_LOGGER": "{{hdfs.hadoop_root_logger}}",
    "TASKCFG_ALL_IPC_CLIENT_CONNECT_MAX_RETRIES": "{{hdfs.ipc_client_connect_max_retries}}",
    "TASKCFG_ALL_TASK_USER": "{{service.user}}",

    "TASKCFG_ALL_NAMENODE_SERVICERPC_ADDRESS_NAMENODE_0": "{{hdfs.namenode_servicerpc_address_namenode_0}}",
    "TASKCFG_ALL_NAMENODE_SERVICERPC_ADDRESS_NAMENODE_1": "{{hdfs.namenode_servicerpc_address_namenode_1}}",
    "TASKCFG_ALL_NAMENODE_SERVICERPC_BIND_HOST_NAMENODE_0": "{{hdfs.namenode_servicerpc_bind_host_namenode_0}}",
    "TASKCFG_ALL_NAMENODE_SERVICERPC_BIND_HOST_NAMENODE_1": "{{hdfs.namenode_servicerpc_bind_host_namenode_1}}",
    "TASKCFG_ALL_NAMENODE_LOGGING_LEVEL": "{{hdfs.namenode_logging_level}}",
    "TASKCFG_ALL_NAMENODE_RPC_BINDHOST_NAMENODE_0": "{{hdfs.namenode_rpc-bind-host_name_node_0}}",
    "TASKCFG_ALL_NAMENODE_RPC_BINDHOST_NAMENODE_1": "{{hdfs.namenode_rpc-bind-host_name_node_1}}",
    "TASKCFG_ALL_NAMENODE_HTTP_BINDHOST_NAMENODE_0": "{{hdfs.namenode_http-bind-host_name_node_0}}",
    "TASKCFG_ALL_NAMENODE_HTTP_BINDHOST_NAMENODE_1": "{{hdfs.namenode_http-bind-host_name_node_1}}",
    "TASKCFG_ALL_CLIENT_CACHED_CONN_RETRY": "{{hdfs.client_cached_conn_retry}}",
    "TASKCFG_ALL_HTTPS_SERVER_KEYSTORE_RESOURCE": "{{hdfs.https_server_keystore_resource}}",
    "TASKCFG_ALL_CLIENT_HTTPS_KEYSTORE_RESOURCE": "{{hdfs.client_https_keystore_resource}}",
    "TASKCFG_ALL_DATANODE_DNS_INTERFACE": "{{data_node.dns_interface}}",
    "TASKCFG_ALL_DATANODE_DNS_NAMESERVER": "{{data_node.dns_nameserver}}",
    "TASKCFG_ALL_NAMENODE_REPLICATION_CONSIDERLOAD": "{{name_node.replication_considerLoad}}",
    "TASKCFG_ALL_DEFAULT_CHUNK_VIEW_SIZE": "{{hdfs.default_chunk_view_size}}",
    "TASKCFG_ALL_DATANODE_DU_RESERVED": "{{data_node.du_reserved}}",
    "TASKCFG_ALL_NAMENODE_NAME_DIR_RESTORE": "{{name_node.name_dir_restore}}",
    "TASKCFG_ALL_NAMENODE_FS-LIMITS_MAX-COMPONENT-LENGTH": "{{name_node.fs-limits_max-component-length}}",
    "TASKCFG_ALL_NAMENODE_FS-LIMITS_MAX-DIRECTORY-ITEMS": "{{name_node.fs-limits_max-directory-items}}",
    "TASKCFG_ALL_NAMENODE_FS-LIMITS_MIN-BLOCK-SIZE": "{{name_node.fs-limits_min-block-size}}",
    "TASKCFG_ALL_NAMENODE_FS-LIMITS_MAX-BLOCKS-PER-FILE": "{{name_node.fs-limits_max-blocks-per-file}}",
    "TASKCFG_ALL_PERMISSIONS_SUPERUSERGROUP": "{{hdfs.permissions_superusergroup}}",
    "TASKCFG_ALL_NAMENODE_ACLS_ENABLED": "{{name_node.acls_enabled}}",
    "TASKCFG_ALL_NAMENODE_LAZYPERSIST_FILE_SCRUB_INTERVAL_SEC": "{{name_node.lazypersist_file_scrub_interval_sec}}",
    "TASKCFG_ALL_BLOCK_ACCESS_TOKEN_ENABLE": "{{hdfs.block_access_token_enable}}",
    "TASKCFG_ALL_BLOCK_ACCESS_KEY_UPDATE_INTERVAL": "{{hdfs.block_access_key_update_interval}}",
    "TASKCFG_ALL_BLOCK_ACCESS_TOKEN_LIFETIME": "{{hdfs.block_access_token_lifetime}}",
    "TASKCFG_ALL_REPLICATION": "{{hdfs.replication}}",
    "TASKCFG_ALL_REPLICATION_MAX": "{{hdfs.replication_max}}",
    "TASKCFG_ALL_NAMENODE_REPLICATION_MIN": "{{name_node.replication_min}}",
    "TASKCFG_ALL_BLOCKSIZE": "{{hdfs.blocksize}}",
    "TASKCFG_ALL_CLIENT_BLOCK_WRITE_RETRIES": "{{hdfs.client_block_write_retries}}",
    "TASKCFG_ALL_CLIENT_BLOCK_WRITE_REPLACE-DATANODE-ON-FAILURE_ENABLE": "{{hdfs.client_block_write_replace-datanode-on-failure_enable}}",
    "TASKCFG_ALL_CLIENT_BLOCK_WRITE_REPLACE-DATANODE-ON-FAILURE_POLICY": "{{hdfs.client_block_write_replace-datanode-on-failure_policy}}",
    "TASKCFG_ALL_CLIENT_BLOCK_WRITE_REPLACE-DATANODE-ON-FAILURE_BEST-EFFORT": "{{hdfs.client_block_write_replace-datanode-on-failure_best-effort}}",
    "TASKCFG_ALL_BLOCKREPORT_INTERVALMSEC": "{{hdfs.blockreport_intervalMsec}}",
    "TASKCFG_ALL_BLOCKREPORT_INITIALDELAY": "{{hdfs.blockreport_initialDelay}}",
    "TASKCFG_ALL_BLOCKREPORT_SPLIT_THRESHOLD": "{{hdfs.blockreport_split_threshold}}",
    "TASKCFG_ALL_DATANODE_DIRECTORYSCAN_INTERVAL": "{{data_node.directoryscan_interval}}",
    "TASKCFG_ALL_DATANODE_DIRECTORYSCAN_THREADS": "{{data_node.directoryscan_threads}}",
    "TASKCFG_ALL_HEARTBEAT_INTERVAL": "{{hdfs.heartbeat_interval}}",
    "TASKCFG_ALL_NAMENODE_HANDLER_COUNT": "{{name_node.handler_count}}",
    "TASKCFG_ALL_NAMENODE_SAFEMODE_THRESHOLD-PCT": "{{name_node.safemode_threshold-pct}}",
    "TASKCFG_ALL_NAMENODE_SAFEMODE_MIN_DATANODES": "{{name_node.safemode_min_datanodes}}",
    "TASKCFG_ALL_NAMENODE_SAFEMODE_EXTENSION": "{{name_node.safemode_extension}}",
    "TASKCFG_ALL_NAMENODE_RESOURCE_CHECK_INTERVAL": "{{name_node.resource_check_interval}}",
    "TASKCFG_ALL_NAMENODE_RESOURCE_DU_RESERVED": "{{name_node.resource_du_reserved}}",
    "TASKCFG_ALL_NAMENODE_RESOURCE_CHECKED_VOLUMES": "{{name_node.resource_checked_volumes}}",
    "TASKCFG_ALL_NAMENODE_RESOURCE_CHECKED_VOLUMES_MINIMUM": "{{name_node.resource_checked_volumes_minimum}}",
    "TASKCFG_ALL_DATANODE_BALANCE_BANDWIDTHPERSEC": "{{data_node.balance_bandwidthPerSec}}",
    "TASKCFG_ALL_HOSTS": "{{hdfs.hosts}}",
    "TASKCFG_ALL_HOSTS_EXCLUDE": "{{hdfs.hosts_exclude}}",
    "TASKCFG_ALL_NAMENODE_MAX_OBJECTS": "{{name_node.max_objects}}",
    "TASKCFG_ALL_REGISTRATION_IP-HOSTNAME-CHECK": "{{hdfs.namenode_datanode_registration_ip-hostname-check}}",
    "TASKCFG_ALL_NAMENODE_DECOMMISSION_INTERVAL": "{{name_node.decommission_interval}}",
    "TASKCFG_ALL_NAMENODE_DECOMMISSION_NODES_PER_INTERVAL": "{{name_node.decommission_nodes_per_interval}}",
    "TASKCFG_ALL_NAMENODE_REPLICATION_INTERVAL": "{{name_node.replication_interval}}",
    "TASKCFG_ALL_NAMENODE_ACCESSTIME_PRECISION": "{{name_node.accesstime_precision}}",
    "TASKCFG_ALL_DATANODE_PLUGINS": "{{data_node.plugins}}",
    "TASKCFG_ALL_NAMENODE_PLUGINS": "{{name_node.plugins}}",
    "TASKCFG_ALL_STREAM-BUFFER-SIZE": "{{hdfs.stream-buffer-size}}",
    "TASKCFG_ALL_BYTES-PER-CHECKSUM": "{{hdfs.bytes-per-checksum}}",
    "TASKCFG_ALL_CLIENT-WRITE-PACKET-SIZE": "{{hdfs.client-write-packet-size}}",
    "TASKCFG_ALL_CLIENT_WRITE_EXCLUDE_NODES_CACHE_EXPIRY_INTERVAL_MILLIS": "{{hdfs.client_write_exclude_nodes_cache_expiry_interval_millis}}",
    "TASKCFG_ALL_NAMENODE_CHECKPOINT_PERIOD": "{{name_node.checkpoint_period}}",
    "TASKCFG_ALL_NAMENODE_CHECKPOINT_TXNS": "{{name_node.checkpoint_txns}}",
    "TASKCFG_ALL_NAMENODE_CHECKPOINT_CHECK_PERIOD": "{{name_node.checkpoint_check_period}}",
    "TASKCFG_ALL_NAMENODE_CHECKPOINT_MAX-RETRIES": "{{name_node.checkpoint_max-retries}}",
    "TASKCFG_ALL_NAMENODE_NUM_CHECKPOINTS_RETAINED": "{{name_node.num_checkpoints_retained}}",
    "TASKCFG_ALL_NAMENODE_NUM_EXTRA_EDITS_RETAINED": "{{name_node.num_extra_edits_retained}}",
    "TASKCFG_ALL_NAMENODE_MAX_EXTRA_EDITS_SEGMENTS_RETAINED": "{{name_node.max_extra_edits_segments_retained}}",
    "TASKCFG_ALL_NAMENODE_DELEGATION_KEY_UPDATE-INTERVAL": "{{name_node.delegation_key_update-interval}}",
    "TASKCFG_ALL_NAMENODE_DELEGATION_TOKEN_MAX-LIFETIME": "{{name_node.delegation_token_max-lifetime}}",
    "TASKCFG_ALL_DATANODE_FAILED_VOLUMES_TOLERATED": "{{data_node.failed_volumes_tolerated}}",
    "TASKCFG_ALL_IMAGE_TRANSFER_TIMEOUT": "{{hdfs.image_transfer_timeout}}",
    "TASKCFG_ALL_IMAGE_TRANSFER_BANDWIDTHPERSEC": "{{hdfs.image_transfer_bandwidthPerSec}}",
    "TASKCFG_ALL_IMAGE_TRANSFER_CHUNKSIZE": "{{hdfs.image_transfer_chunksize}}",
    "TASKCFG_ALL_NAMENODE_SUPPORT_ALLOW_FORMAT": "{{name_node.support_allow_format}}",
    "TASKCFG_ALL_DATANODE_MAX_TRANSFER_THREADS": "{{data_node.max_transfer_threads}}",
    "TASKCFG_ALL_DATANODE_READAHEAD_BYTES": "{{data_node.readahead_bytes}}",
    "TASKCFG_ALL_DATANODE_DROP_CACHE_BEHIND_READS": "{{data_node.drop_cache_behind_reads}}",
    "TASKCFG_ALL_DATANODE_DROP_CACHE_BEHIND_WRITES": "{{data_node.drop_cache_behind_writes}}",
    "TASKCFG_ALL_DATANODE_SYNC_BEHIND_WRITES": "{{data_node.sync_behind_writes}}",
    "TASKCFG_ALL_CLIENT_FAILOVER_MAX_ATTEMPTS": "{{hdfs.client_failover_max_attempts}}",
    "TASKCFG_ALL_CLIENT_FAILOVER_SLEEP_BASE_MILLIS": "{{hdfs.client_failover_sleep_base_millis}}",
    "TASKCFG_ALL_CLIENT_FAILOVER_SLEEP_MAX_MILLIS": "{{hdfs.client_failover_sleep_max_millis}}",
    "TASKCFG_ALL_CLIENT_FAILOVER_CONNECTION_RETRIES": "{{hdfs.client_failover_connection_retries}}",
    "TASKCFG_ALL_CLIENT_FAILOVER_CONNECTION_RETRIES_ON_TIMEOUTS": "{{hdfs.client_failover_connection_retries_on_timeouts}}",
    "TASKCFG_ALL_CLIENT_DATANODE-RESTART_TIMEOUT": "{{hdfs.client_datanode-restart_timeout}}",
    "TASKCFG_ALL_HA_LOG-ROLL_PERIOD": "{{hdfs.ha_log-roll_period}}",
    "TASKCFG_ALL_HA_TAIL-EDITS_PERIOD": "{{hdfs.ha_tail-edits_period}}",
    "TASKCFG_ALL_SUPPORT_APPEND": "{{hdfs.support_append}}",
    "TASKCFG_ALL_CLIENT_USE_DATANODE_HOSTNAME": "{{hdfs.client_use_datanode_hostname}}",
    "TASKCFG_ALL_DATANODE_USE_DATANODE_HOSTNAME": "{{data_node.use_datanode_hostname}}",
    "TASKCFG_ALL_CLIENT_LOCAL_INTERFACES": "{{hdfs.client_local_interfaces}}",
    "TASKCFG_ALL_DATANODE_SHARED_FILE_DESCRIPTOR_PATHS": "{{data_node.shared_file_descriptor_paths}}",
    "TASKCFG_ALL_SHORT_CIRCUIT_SHARED_MEMORY_WATCHER_INTERRUPT_CHECK_MS": "{{hdfs.short_circuit_shared_memory_watcher_interrupt_check_ms}}",
    "TASKCFG_ALL_NAMENODE_AVOID_READ_STALE_DATANODE": "{{name_node.avoid_read_stale_datanode}}",
    "TASKCFG_ALL_NAMENODE_AVOID_WRITE_STALE_DATANODE": "{{name_node.avoid_write_stale_datanode}}",
    "TASKCFG_ALL_NAMENODE_STALE_DATANODE_INTERVAL": "{{name_node.stale_datanode_interval}}",
    "TASKCFG_ALL_NAMENODE_WRITE_STALE_DATANODE_RATIO": "{{name_node.write_stale_datanode_ratio}}",
    "TASKCFG_ALL_NAMENODE_INVALIDATE_WORK_PCT_PER_ITERATION": "{{name_node.invalidate_work_pct_per_iteration}}"
  },
  "uris": [
    "{{resource.assets.uris.jre-tar-gz}}",
    "{{resource.assets.uris.scheduler-zip}}",
    {{#service.kerberos.enabled}}
    "{{service.kerberos.krb5_conf_uri}}",
    {{/service.kerberos.enabled}}
    "{{resource.assets.uris.libmesos-bundle-tar-gz}}"
  ],
  "upgradeStrategy":{
    "minimumHealthCapacity": 0,
    "maximumOverCapacity": 0
  },
  "healthChecks": [
    {
      "protocol": "HTTP",
      "path": "/v1/plans/deploy",
      "gracePeriodSeconds": 900,
      "intervalSeconds": 30,
      "portIndex": 0,
      "timeoutSeconds": 30,
      "maxConsecutiveFailures": 0
    },
    {
      "protocol": "HTTP",
      "path": "/v1/plans/recovery",
      "gracePeriodSeconds": 900,
      "intervalSeconds": 30,
      "portIndex": 0,
      "timeoutSeconds": 30,
      "maxConsecutiveFailures": 0
    }
  ],
  "portDefinitions": [
    {
      "port": 0,
      "protocol": "tcp",
      "name": "api",
      "labels": { "VIP_0": "/api.{{service.name}}:80" }
    }
  ]
}
