{
  "description": "Cassandra backup test data deletion job",
  "id": "test.cassandra.delete-data",
  "run": {
    "cmd": "cqlsh --cqlversion=3.4.0 -e \"TRUNCATE testspace1.testtable1; TRUNCATE testspace2.testtable2; DROP KEYSPACE testspace1; DROP KEYSPACE testspace2;\" {{NODE_ADDRESS}} {{NODE_PORT}}",
    "docker": {
      "image": "cassandra:3.0.13"
    },
    "cpus": 1,
    "mem": 512,
    "user": "root",
    "restart": {
      "policy": "NEVER"
    }
  }
}
