{
  "description": "Cassandra node replace test verification",
  "id": "test.cassandra.verify-node-replace",
  "run": {
    "cmd": "! cqlsh --no-color -e 'select peer from system.peers;' node-0-server.cassandra.mesos 9042 | grep '{{NODE_IP}}' && [ 2 == $(cqlsh --no-color -e 'select peer from system.peers;' node-0-server.cassandra.mesos 9042 | grep -E '^\\s+[0-9]' | wc -l | awk '{print $1}') ]",
    "docker": {
      "image": "cassandra:3.0.13"
    },
    "cpus": 1,
    "mem": 512,
    "user": "root",
    "restart": {
      "policy": "NEVER"
    }
  }
}
